/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000; /* Color de texto principal */
    background-color: #F5F5DC ; /* Color de fondo */
  }
  
  /* Encabezado */
  header {
    background-color: #15a150; /* Color verde para el encabezado */
    padding: 10px;
    color: #fff; /* Color de texto para el encabezado */
  }
  
  /* Botones */
  button {
    background-color: #15a150; /* Color verde para los botones */
    color: #fff; /* Color de texto para los botones */
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 23px;
    cursor: pointer;
  }
  
  /* Enlaces */
  a {
    color: #15a150; /* Color verde para los enlaces */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Títulos */
  h1, h2, h3 {
    color: #000000; /* Color de texto para los títulos */
  }
  
  /* Texto destacado */
  .highlight {
    color: #15a150; /* Color verde para el texto destacado */
    font-weight: bold;
  }
  
  /* Inputs y selects */
  input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Mensajes de éxito o error */
  .success-message {
    color: #15a150; /* Color verde para mensajes de éxito */
  }
  
  .error-message {
    color: #e74c3c; /* Color rojo para mensajes de error */
  }