.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .div-usuario{
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: black;
        .div-saludo{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px
        };
        .div-sesion{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px
        }
    };
    .div-contenido{
        padding: 20px;
    }
}

h1, h3{
    margin: 0px;
}

.sesion{
    background-color: #e74c3c;
}

table{
    margin-top: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

tr{
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

td{
    padding: 10px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}